/* alata-regular - latin */
@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alata-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alata Regular'), local('Alata-Regular'),
       url('../fonts/alata-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alata-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alata-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alata-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alata-v1-latin-regular.svg#Alata') format('svg'); /* Legacy iOS */
}
body{
    margin: 0 auto;
    padding: 0;
    
}
header {
  width: 100%;
  height: 60px;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  }S
  h1{
    font-family: 'Alata';
    text-align: center;
  }
  h2 {
    font-family: 'Alata';
    text-align: center;

  }
/*************Шапка*************/

.nav {
    background: url(img/bg_header.png) no-repeat top center cover ; 
    max-height: 1200px;
}

.container_header {
  background: url(img/gori.png) no-repeat bottom center / cover;  
  max-width: 1200px;
  height: 1200px;
  margin: 0 auto;
}
.menuu{
  display: flex;
  justify-content: center ;
  padding-right: 200px;
}
.menu_header li{
  
  display: inline-block;
  list-style:none;
  margin-left: 100px;
  color: black;
 font-size: 25px;
 margin-top: 45px;
}
a {
  text-decoration: none;
  color:black;
}
.btn_1 {
  display: flex;
  width: 225px;
  height: 60px; 
  justify-content: flex-end;

}
.photo{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
/*******obomne******/
.container_obo{
  max-width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
}
.OBO_mne{
  padding-top: 1600px;
  background: url(img/bg_inf.png) no-repeat bottom center / cover;
  height: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
/* jua-regular - latin */
.Nodpiz_obo_mne {
  font-size: 100px;
  text-align: center;
  margin-top: -650px;
  color: darkred;
}
.Nagrady_con{
  max-width: 1200px;
    margin: 0 auto;
    padding-top: 130px;
}
.Nagrady {
  padding-top: 2000px;
  background: url(img/Nagrady.png) no-repeat bottom center / cover;
  max-width: 1200px;
  margin: 0 auto;
}
.Nodpiz_Nagrady {
  font-size: 100px;
  text-align: center;
  margin-top: -2200px;
  color: darkred;
}
.Studentam {
  padding-top: 1500px;
  background: url(img/Stydentam.png) no-repeat bottom center / cover;
  max-width: 1200px;
  margin: 0 auto;
}
.Studentam_con {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
}
.Studentam_nopiz {
  font-size: 100px;
  text-align: center;
  margin-top: -1800px;
  color: darkred;
}
.podval {
  padding-top: 200px;
  background: url(img/podval.png) no-repeat bottom center / cover;
  max-width: 1200px;
  margin: 0 auto;
}
.podval_con {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
}
.podval_nadpiz {
font-size: 50px;
  text-align: center;
  margin-top: -380px;
  color: white;
}
.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}
#btn4:checked~.switch label[for="btn4"] {
  background-color: white;
}
#btn5:checked~.switch label[for="btn5"] {
  background-color: white;
}
#btn6:checked~.switch label[for="btn6"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 600%;
  transition: all 1s;
}

.slides img {
  width: 680px;
  height: 1200px;
  float: left;
}

#btn1:checked~.slider-inner .slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}
#btn4:checked~.slider-inner .slides {
  transform: translate(-2040px);
}
#btn5:checked~.slider-inner .slides {
  transform: translate(-2720px);
}
#btn6:checked~.slider-inner .slides {
  transform: translate(-3400px);
}